* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

main {
    min-height: calc(100vh - 80px);
}

header {
    color: #fff;
    background-color: #5849fc;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.startButton {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: none;
    height: 60px;
    width: 180px;
    font-size: 30px;
    text-transform: uppercase;
    background-color: #5849fc;
    color: #fff;
    cursor: pointer;
}

.nextButton {
    margin-top: 50px;
    display: block;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 120px;
    font-size: 20px;
    background-color: #5849fc;
    color: #fff;
    cursor: pointer;
}

.startButton:hover, .nextButton:hover {
    background-color: #1e0afc;
}

.description {
    text-align: center;
    margin: 140px;
}

.quizContainer {
    margin: auto;
    padding: 20px;
    width: 1000px;
    height: 500px;
    text-align: center;
}

.question {
    font-size: 24px;
    font-weight: 500;
}

.answers {
    width: 640px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}

input {
    display: inline;
    margin: 10px;
    visibility: hidden;
    width: 100%;
}

input:checked + label {
    padding: 8px;
    color: #fff;
    background-color: #5849fc;
    border-radius: 5px;
}

label {
    white-space: nowrap;
    cursor: pointer;
}

.score, .progress {
    margin: 10px;
}

.hidden {
    display: none;
}

footer > span > a {
    color: #fff;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #5849fc;
}
