* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    height: 60px;
    color: #fff;
    background-color: #5849fc
}
